.button{
    width:max-content;
    border: 2px solid var(--textColor);
    border-radius:10%;
    padding:5px;
    cursor:pointer;
    background-color: var(--textColor);
    color: var(--bg);
    font-size:15px;
    font-weight:600;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05);
        color:var(--textColor);
    }
}
.desc{
    color:var(--softTextColor);
    font-size:13px;
    
}